
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;600;700;800&family=Montserrat:wght@300;400;500;600;700;800&display=swap');

html{
    box-sizing:border-box;
    margin:0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html,body{
    margin: 0;
    height:100vh;
   
}
img{
    width:100%;
}

/* Header/ NavStyling Start*/
header{
    background-color:green;
}
h2{
    font-weight:600;
    margin:0;

}
h1{
    font-weight:700;
}
h3{
    margin:0;
    padding:0;
}

}
.gpChefContainer{
    color:white;
    margin:0;
    padding:0;
}
.headerContainer{
    text-align:center;
    position:relative;
    width:100%;
    
}
/*Checkbox visibility*/
.toggler{
    display: none;
}
/*Logo sizing and position*/
.logo{
    display:flex;
    height:40px;
    width:40px;
    margin-left:16px;
    color: white;
    
}
/*sidebar Nav Menu slide out STYLING when clicking on hamburger*/
nav ul{
    position:fixed;
    width:20%;
    height:25vh;
    padding-top:25px;
    padding-bottom:25px;
    padding-left:25px;
    padding-right:30px;
    background:gray;
    right: -100%;
    transition: all .5s;
    list-style: none;

}
/*spacing in between the links*/
nav li {
    margin-bottom:12px;
   
}
/*Changing the color of the Nav Items */
nav a{
    font-family: "Montserrat Alternates";
    font-weight:500;
    color:white;
    text-decoration:none;
    text-shadow: 2px 2px 4px rgba(31, 31, 31, .658);
    text-transform:;
}
/*Styling for hover and focus*/
nav a:hover,
nav a:focus{
    color: rgb(91, 180, 253);
    font-weight:700;
    transition: ease-in .1s;
}
/* Brings in the Right Menu when Hamburger is Clicked*/
.toggler:checked ~ nav ul{
    right:0;
}
/*Hamburger Styling and Location*/
.burger{
    position:absolute;
    font-size:35px;
    color:white;
    text-shadow:2px 2px 4px rgba(31, 31, 31, .658);
    top:0;
    right:0;
    margin-right: 16px;
    height: 100%;
    display:flex;
    align-items: center;
}

main{
    grid-row: 2/3; 
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.checked {
    color: orange;
}

.home-grid {
    display: grid;
    grid-template-rows: 1fr, auto, 1fr;
}

#home-title {
    color: white;
    text-align: center;
    position:relative;
    left:60%;
    bottom:20%;
    padding-right:25%;
   
}
#homeWords{
    color:white;
    font-family:"Montserrat Alternates";
    position:relative;
    bottom:10%;
    padding:5%;
    text-shadow:2px 2px 4px rgba(31, 31, 31, .658);
}

.homebutton {
    border-radius: 10px;
    padding: 20px 50px 20px;
    background-color:azure;
    color: black;
    font-weight:700;
    text-decoration: none;
    text-align: center;
    position:relative;
    top:10%;

}

.homebutton:hover {
    background-color: rgb(197, 215, 215);
}

.home-header {
    grid-row: 1/2;
    background-image: url(/img/chefplatingbackground.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homebackground{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reviewsTitle {
    text-align: center;
}

.rating {

}

.reviews-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: white;
    text-align: center;
    padding: 2%;
    padding-bottom: 3%;
}

.review {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 8px;
}

.home-footer {
    grid-row: 3/4;
    text-align: center;
    padding-top: 13px;
}

footer{
    grid-row: 3/4;
    background-color:green;
}

.footerContainer {
    text-align: center;
    font-weight: 500;
}

.meetchefstitle {
    text-align: center;
    background: lightblue;
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    padding-bottom: 0;
    margin-bottom:0;
    margin-top:0;
}

.meetchefsgrid {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;   
    background: yellow; 
}
.chefprofile {
    flex-basis: 300px;
    flex-grow: 1;
    max-width: 400px;
    height: auto;
    border-radius: 4px;
    /* border-color: navy;
    border-style: solid; */
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
    /* background: pink; */
    display: grid;
    grid-template-rows: 3fr 1fr;
    justify-items: center;
}

.headshot {
    grid-row: 1/2;
    width: 100%;
    /* background: yellow; */
    display: grid;
    justify-items: center;
}
.chefpic {
    width: 80%;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 50%;
}
.chef1 {
    background-image: url(../img/dahiana-waszaj-XQWfro4LrVs-unsplash.jpg);
}
.chef2 {
    background-image: url(../img/mohamed-nohassi-DdglEoIC2y4-unsplash.jpg);
}
.chef3 {
    background-image: url(../img/febrian-zakaria-SiQgni-cqFg-unsplash.jpg);
    background-position: center;
}
.chef4 {
    background-image: url(../img/petr-sevcovic-e5Q5vWO55uU-unsplash.jpg);
}
.chef5 {
    background-image: url(../img/bluebird-provisions-lRAWcT7uwhY-unsplash.jpg);
}
.chef6 {
    background-image: url(../img/derrick-pare-okPdcD03F7g-unsplash.jpg);
}
.cheftext {
    grid-row: 2/3;
    width: 100%;
    /* background: orangered; */
    display: grid;
    align-items: center;
}
.chefdescription {
    /* background: cornsilk; */
    font-size: 1rem;
}

.chefdescription {
    box-sizing: border-box;
    grid-row: 2;
    /* align-self:center; */
    background: yellow;
    width: 100%;
    /* padding: 2rem; */
} */

.reservationsgrid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 30px, 1fr, auto, 1fr;
}

.reservationstitle {
    grid-row: 1/2;
    background: yellow;
    padding: 20px;
    margin: 0;
    
}
.resform {
    background: purple;
    display: grid;
}
form {
    box-sizing: border-box;
    padding: 1em;
    background: #e3e3e3;
    max-width: 100%;
    margin: 0 8%;
    border: 1px solid #c5c5c5;
}
fieldset {
    /* margin-bottom: 30px; */
    border: none;
  }
 
input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
textarea,
select {
    display: block;
    width: 90%;
    height: auto;
    padding: 1em;
    margin: 15px 0px;
    font-family: ;
    font-size: 0.9em;
    background: rgb(255, 255, 255);
    color: #ff6a00;
    border: 1px solid transparent;
    outline: none;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.043) inset;
}
input:hover,
input:focus,
select:hover,
select:focus,
textarea:hover,
textarea:focus {
  box-shadow: 0 0 0 2px #ff1cd9dc;
}
textarea {
    height: 3rem;
    resize: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.8em;
}
legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
.meal {
    margin-bottom: 10px;
    margin-top: 0;
    font-size:1.1em;
}
input[type="radio"] {
    margin: 0 10px 8px 0;
}
input[type="radio"]:hover,
input[type="radio"]:focus {
    box-shadow: none;
}

.edate {
    display: block;
    margin-top: 10px;
}
.rad {
    font-size: .9em;
}
 
input::placeholder,
textarea::placeholder {
    color: hsla(320, 100%, 51%, 0.484);
}

select {
    padding: 10px;
    /* height: 32px; */
    /* border-radius: 2px; */
}
 


button {
    padding: 0.7em;
    color: #fff;
    background-color: hsla(9, 100%, 64%, 1);
    font-size: 1em;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    transition: all 360ms;
}

button:hover,
button:focus {
    background-color: hsl(317, 96%, 55%);
    color: rgb(0, 0, 0);
}

#gallery{
    line-height: 0;
    column-count: 1;
    column-gap:5px;
   
}
#gallery img{
    width:100% !important;
    height: auto !important;
    margin-bottom:5px;
    
}
/* .reservationsgrid {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
}
.reservationstitle {
    grid-row: 1/2;
    background: lightblue;
    margin: 0;
}
.resform {
    grid-row: 2/3;
    background: rgb(131, 131, 220);
    display: grid;
}
 
form {
    width: 80%;
    margin: 20px;
    padding: 1em;
    background: #d4d3d3;
    border-radius: 8px;
  }
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
 
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid transparent;
    font-size: 16px;
    height: auto;
    margin-left: 0;
    outline: 0;
    padding: 1em;
    width: 100%;
    background-color: #f5f5f5;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
    caret-color: purple;
    caret-size: 5px;
    transition: all 350ms;
  }
 
  textarea {
      resize: none;
  }
  input::placeholder,
  textarea::placeholder {
    color: hsla(9, 100%, 64%, 0.6);
  }
 
  input:hover,
  input:focus,
  textarea:hover,
  textarea:focus {
    border: 2px solid hsla(9, 100%, 64%, 0.6);
  }
 
  label:required {
    color: yellow;
  }
 
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 10px 10px 0;
    background: hsla(9, 100%, 64%, 0.6);
  }
  .dinmarg {
      margin-top: 30px;
  }
 
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
 
  button {
    padding: 19px 39px 18px 39px;
    color: #fff;
    background-color: hsla(9, 100%, 64%, 1);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin-bottom: 10px;
    transition: all 350ms;
  }
 
  button:hover,
  button:focus {
    background-color: hsla(9, 100%, 64%, 0.8);
    color: black;
  }
 
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
 
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
 
  label {
    display: block;
    margin-bottom: 8px;
  }
 
  label.light {
    font-weight: 300;
    display: inline;
  }
 
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 100%;
  } */

/* SERVICES PAGE STYLING START */
.servicesgrid {
    /* width: 100%;
    height: 100%; */
    /* background: paleturquoise; */
    display: grid;
    grid-template-rows: 1fr 1.2fr 1fr 1.2fr 1fr 1.2fr 1fr 0.2fr 1fr;
    justify-items: center;
}

.servicestitlerow {
    grid-row: 1/2;
    background:hsla(9, 100%, 64%, 1);
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    background-image: url(../img/servicestitleimg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}
.servtitle {
    padding: 1em;
}
.prep {
    grid-row: 2/3;
    /* background:rgb(71, 255, 99); */
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}
.foodprepimg {
    width:80%;
    height: auto;
    background-image: url(../img/foodprep.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}
.preptxt {
    grid-row: 3/4;
    /* background:goldenrod; */
    width: 100%;
    height: 100%;

}
.prptext {
    /* grid-row: 1/2; */
    text-align: left;
    padding-left: 10%;
    width: 80%;
    /* background:rgb(227, 255, 71); */
    margin: 15px 0px;
}
.mnevent {
    grid-row: 4/5;
    /* background:rgb(71, 255, 99); */
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}
.mneventtxt {
    grid-row: 5/6;
    /* background:rgb(227, 255, 71); */
    width: 100%;
    height: 100%;
}
.finedinimg {
    width:80%;
    height: auto;
    background-image: url(../img/finedining.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}
.cleanup {
    grid-row: 6/7;
    /* background:rgb(71, 255, 95); */
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
}
.cleanuptxt {
    grid-row: 7/8;
    /* background:rgb(227, 255, 71); */
    width: 100%;
    height: 100%;
}
.utensilsimg {
    width:80%;
    height: auto;
    background-image: url(../img/metalutensils.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
}

.pricing {
    grid-row: 8/9;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    background: rgb(242, 242, 242);
}
.pricetitle {
    padding-top: 20px;
    margin-bottom: 5px;
}
.pricetxt {
    grid-row: 9/10;
    background: rgb(242, 242, 242);
    width: 100%;
    
}
.prctext {
    text-align: center;
    padding-left: 10%;
    width: 80%;
    margin: 15px 0px;

}

/* SERVICES PAGE STYLING END */


/*TABLET SIZE */
@media screen and (min-width: 480px) {  
    #gallery{
        column-count:2;
    }
    .servicesgrid {
        grid-template-rows: 1fr 2fr 1fr 2fr 1fr 2fr 1fr 0.2fr 1.5fr;
    }
    .mgntp {
        margin-top: 30px;
        margin-bottom: 5px;
    }
    .prctext {
        margin-bottom: 20px;
    }
    #home-title {
        color: white;
        text-align: center;
        position:relative;
        left:50%;
        bottom:20%;
        padding-right:25%;
       
    }
    
}

/* Small Screens and Laptop SIZE */
@media screen and (min-width: 768px) {
    .burger{
        display:none;
    }
    header{
        display:grid;
        grid-template-columns: 1fr auto minmax(700px 3fr);

    }
    nav{
        display:flex;
        grid-column:3/4;
        justify-content:flex-end;
        align-items:center;

    }
    nav ul{
        all: unset;
        list-style:none;
        display:flex;
        position:relative;
        bottom:25px;

    }
    nav li{
        margin-right: 16px;
        margin-bottom:0;
        align-items:flex-start;
    }
   
    #gallery{
        column-count:3;
    }
    #home-title {
        color: white;
        text-align: center;
        position:relative;
        left:50%;
        bottom:20%;
        padding-right:25%;
       
    }
    
    .servicesgrid {
        grid-template-rows: 2fr 4fr 4fr 4fr 0.5fr 3fr;
        grid-template-columns: 1fr 1fr;
    }
    .servicestitlerow {
        grid-column: 1/3;
    }
    .mgntp {
        margin:20px;
    }
    .prep {
        grid-row: 2/3;
        grid-column: 1/2;
    
    }
    .preptxt {
        grid-row: 2/3;
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* background: red; */
     
    }
    .prptext {
        padding-left: 0;
        margin-top: 0;
        width: 90%;
        /* background: yellow; */
    }
    .mnbig {
        padding-left: 10%
    }
    .mnevent {
        grid-row: 3/4;
        grid-column: 2/3;
  
    }
    .mneventtxt {
        grid-row: 3/4;
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        justify-content: center;
     
    }
    .cleanup {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .cleanuptxt {
        grid-row: 4/5;
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .pricing {
        grid-row: 5/6;
        grid-column: 1/3;
        background: rgb(242, 242, 242);
    }
    .pricetxt {
        grid-row: 6/7;
        grid-column: 1/3;
        background: rgb(242, 242, 242);
    }
    .prctext {
        margin-bottom: 30px;
    }
}

@media screen and (min-width:902px){
    #home-title {
        color: white;
        text-align: center;
        position:relative;
        left:50%;
        bottom:30%;
        padding-right:25%;
       
    }
}
/* DESKTOP/ LARGE SCREEN SIZE */

@media screen and (min-width: 1024px) { 
    #gallery{
        column-count:4;
    }
    .servicesgrid {
        grid-template-rows: 2fr 5fr 5fr 5fr 1fr 4fr;
        grid-template-columns: 1fr 1fr;
    }
    .pricetitle, .prctext {
        width: 60%;
        /* background:hsl(317, 96%, 55%); */
        padding-left: 20%;
    }
    .prctext {
        margin-bottom: 30px;
    }
    #home-title {
        color: white;
        text-align: center;
        position:relative;
        left:50%;
        bottom:30%;
        padding-right:25%;
       
    }
    

}
/* EXTRA LARGE SCREEN SIZE */
@media screen and (min-width:1120px){
    #home-title {
        color: white;
        text-align: center;
        position:relative;
        left:50%;
        bottom:30%;
        padding-right:35%;
       
    }
}
@media screen and (min-wdith:1170px){
    #home-title {
        color: white;
        text-align: center;
        position:relative;
        left:50%;
        bottom:30%;
        padding-right:35%;
       
    }
}
@media screen and (min-width: 1200px) { 
    #gallery{
        column-count:5;
    }
    #home-title {
        color: white;
        text-align: center;
        position:relative;
        left:50%;
        bottom:30%;
        padding-right:35%;
       
    }

    

}
@media screen and (min-width:1400px){
    #home-title {
        color: white;
        text-align: center;
        position:relative;
        left:50%;
        bottom:30%;
        padding-right:40%;
       
    }
}
